<section class="contact">
    <div class="me">
        <h3>Contact:</h3>
        <h1>Jordan Smith</h1>
        <img src="https://pbs.twimg.com/profile_images/770340031324037120/TmisyCe4_400x400.jpg" alt="Picture of Jordan">
    </div>
    <ul>
        <li>email: techjems17@gmail.com</li>
        <li>linkedin: www.linkedin.com/in/techjems17</li>
        <li>github: github.com/techjems17</li>
        <li>twitter: twitter.com/techjems17</li>
    </ul>
</section>
{{outlet}}