header {
    margin-bottom: 50px;
}

.poke-profiles {
    height: 15vh;
    text-align: center;
}

.btn a {
    color: white;
}

#beerChoice {
  margin-top: 20px;
  display: flex;
  font-family: 'Russo One';
}

.poke {
  margin-left: 50px;
  margin-right: 20px;
  height: 600px;
  width: 50%;
}

#beerChoice h4 {
  color: blue;
}

.contact {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact ul {
    margin-top: 200px;
}

li {
    list-style: none;
    margin-top: 5px;
}